ansible==2.10.5
ansible-base==2.10.5
astroid==2.4.2
cffi==1.14.4
click==7.1.2
cryptography==3.3.1
isort==5.7.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==20.8
pycparser==2.20
pylint==2.6.0
pyparsing==2.4.7
PyYAML==5.4.1
six==1.15.0
toml==0.10.2
wrapt==1.12.1
